body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
  }
  
  header {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .nav-link:hover {
    color: #ffc107 !important;
    transition: 0.3s;
  }
  
  main {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  footer {
    background-color: #343a40;
    color: white;
    padding: 1rem;
  }
  